
.header {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    border-bottom: solid 1px #ffd8d9;
    border-top: solid 1px #ffd8d9;
    z-index: 10;
  }
  
  .inner {
    height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .link {
    display: flex;
    line-height: auto;
    padding: 16px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: #380950;
    font-size: 20px;
    font-weight: 500;
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }
  
  .linkLabel {
    margin-right: rem(5px);
  }