:root {
    --Primary: linear-gradient(91deg, #8E7AB5 0.83%, #EEA5A6 92.15%);
    --heading-color: linear-gradient(91deg, #8E7AB5 13.4%, #EEA5A6 75.14%);
    --style-1: linear-gradient(323deg, #FF989A -30.22%, #FFCACB 43.35%, #FFC6CC 49.41%, #CF93C4 115.7%, #B784B7 129.17%);
    --style-2: linear-gradient(208deg, #FF989A -47.3%, #FFCACB 42.98%, #FFC6CC 50.42%, #CF93C4 131.78%, #B784B7 148.3%);
}

main {
    background: white;
}

h1 {
    font-weight: 700;
    background: var(--Primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-weight: 500;
    background: #212121;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.sign-name {
    color: #212121;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
}

.sign-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative; 
    width: 192px;
    height: auto;
    flex-direction: column;
    border-radius: 6px;
    display: inline-flex;
    padding: 16px 8px 16px 8px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    @media (max-width: 430px){
        width: 120px;
        display: flex;
    }
}
.card:hover {
    background: #FFE09C;
    cursor: pointer;
}
.btn {
  background: #FFF8E8;
}
.btn:hover {
    background: #FFE09C;
}

@media (max-width: 768px) {
    .flex-row {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .mt-20 {
      margin-top: 16px; /* Adjust spacing for smaller screens */
    }
  }

  @media (max-width: 375px) {
    .flex-row {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .mt-20 {
      margin-top: 12px; /* Adjust spacing for smaller screens */
    }
  }

